
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-animation: all 0.5s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #bbbbbb;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #7794bc;
}

.nav-link:hover{
    color: #bbbbbb;
}